//
//  Secrets.xcconfig
//  MarvelApp
//
//  Created by Ivan Tonial IP.TV on 07/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

MARVEL_PUBLIC_KEY = 924035b8338151bdab2d160dfbc2c66a
MARVEL_PRIVATE_KEY = de02308e64422ca7cdaf11764ea3390bc140b2d9
