//
//  Secrets-model.xcconfig
//  MarvelApp
//
//  Created by Ivan Tonial IP.TV on 08/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
//
//
//  Template para configuração das chaves da Marvel API
//
//  INSTRUÇÕES:
//  1. Crie uma cópia deste arquivo e renomeie para "Secrets.xcconfig"
//  2. Substitua os valores abaixo pelas suas chaves da Marvel API
//  3. Obtenha suas chaves em: https://developer.marvel.com/account
//  4. O arquivo Secrets.xcconfig já está no .gitignore
//
//  IMPORTANTE: Nunca faça commit do arquivo Secrets.xcconfig com as chaves reais!

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Substitua YOUR_PUBLIC_KEY_HERE pela sua chave pública da Marvel
MARVEL_PUBLIC_KEY = YOUR_PUBLIC_KEY_HERE

// Substitua YOUR_PRIVATE_KEY_HERE pela sua chave privada da Marvel
MARVEL_PRIVATE_KEY = YOUR_PRIVATE_KEY_HERE
